body {
    margin: 3%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.wrapper {
    max-width: 1280px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.player {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}

.canvas {
   background-image: url('assets/Base.png'); 
   background-size: cover;
}

.aside {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-right: 0.5rem;
    background-image: url('assets/Base.png'); 
    background-position: 100%;
    background-size: cover;
}
.timer {
    width: 4rem;
    height: 2rem;
    margin-bottom: 15px;
    background-color: black;
    border-radius: 5px;
    color: chartreuse;
    text-align: center;
    font-size: 12px;
}

.duration::before {
    content: '/';
}
.button-container {
    display: flex;
    align-self: flex-start;
    align-items: center;
    margin-bottom: 15px;
    font-size: 12px;
}

.button-label {
    color: silver;
    text-shadow: black 1px 1px 1px;
    margin-left: 5px;
}

.button-play {
    width: 40px;
    height: 40px;
    background-image: url('./assets/Button.png');
    background-size: cover;
    overflow: hidden;
    border-radius: 50%;
    border: none;
}

.button-play:hover,
.button-stop:hover {
    border: darkblue 2px solid;
}

.button-stop {
    width: 25px;
    height: 25px;
    background-image: url(./assets/Button.png);
    background-size: 375%;
    background-repeat: no-repeat;
    background-position-x: 100%;
    background-position-y: 53%;
    overflow: hidden;
    border-radius: 50%;
    border: none;
}

button:active, button:focus {
    outline: none;
    border: red 2px solid;
    border-radius: 50%;
}

.img {
    display: none;
}

.list-songs {
    margin-top: 2rem;
    background-color: gray;
    list-style-type: none;
    padding: 10px 0px;
    font-size: 22px;
}
.song-item {
    background-color: rgb(212, 209, 209);
    padding: 10px;
    text-decoration: underline rgb(173, 201, 201);
    cursor: pointer;
}

.song-item:hover {
    background-color:  rgb(175, 176, 177);;
}
.song::before {
    content: ' - ';
}